<div class="dialog-content">
  <mat-toolbar color="primary" class="dialog-header">
    {{ data.data.customerName }} - Orders
  </mat-toolbar>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- Order ID Column -->
    <ng-container matColumnDef="orderid">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Order ID </th>
      <td mat-cell *matCellDef="let element"> {{ element.orderid }} </td>
    </ng-container>

    <!-- Required Date Column -->
    <ng-container matColumnDef="requireddate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Required Date </th>
      <td mat-cell *matCellDef="let element"> {{ element.requireddate | date:'MM/dd/yyyy hh:mm:ss a' }} </td>
    </ng-container>

    <!-- Shipped Date Column -->
    <ng-container matColumnDef="shippeddate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Shipped Date </th>
      <td mat-cell *matCellDef="let element"> {{ element.shippeddate | date:'MM/dd/yyyy hh:mm:ss a' }} </td>
    </ng-container>

    <!-- Ship Name Column -->
    <ng-container matColumnDef="shipname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ship Name </th>
      <td mat-cell *matCellDef="let element"> {{ element.shipname }} </td>
    </ng-container>

    <!-- Ship Address Column -->
    <ng-container matColumnDef="shipaddress">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ship Address </th>
      <td mat-cell *matCellDef="let element"> {{ element.shipaddress }} </td>
    </ng-container>

    <!-- Ship City Column -->
    <ng-container matColumnDef="shipcity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ship City </th>
      <td mat-cell *matCellDef="let element"> {{ element.shipcity }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

  <div mat-dialog-actions align="end">
    <button mat-button color="warn" (click)="close()">CLOSE</button>
  </div>

</div>