.dialog-header {
    background-color: green;
    color: white;
    font-weight: bold;
}


.new-order-container {

    .form-row {
        display: flex;
        gap: 16px;

        mat-form-field {
            flex: 1;
        }
    }

    .full-width {
        width: 100%;
    }
}

button[color="primary"] {
    color: green;
}